html, body {
  height: 100%;
  width: 100%;
  background-color: #f9f9d2;
  font-size:1.065em;
}
header{
  background-image: url("Images/banner.jpg");
  background-repeat:no-repeat;
  background-position:left;
  text-align:right;
  height:250px;
  line-height:200px;
}
.h{
  grid-area: h;
  background-color:#f8f8e7;
  color:#016001;
}
.n{
  grid-area: n;
  background-color:#f8f8e7;
}
.f{
  grid-area: f;
  background-color:#f8f8e7;
  color:brown;
}
.m{
  grid-area: m;
  font-family:"Times New Roman",Times,serif;
  background-color:#f8f8e7;
  color:#666704;
}
.nobull{
  list-style-type:none;
}
ol.ur{
  list-style-type:upper-roman; 
}
.c{
  background-color:#d6d6d6;
}
ol.lr{
  list-style-type:lower-roman;
}
a:hover{
  background-color:#c4e7f3;
}
table,th,td{
  border:1px solid #0d0c0c;
  border-collapse: collapse;
  text-align: center;
  font-size:1.5em;
  font-family:"Georgia",serif;
}
table{
  width: 90%
}
th{
  background-color:#0d0c0c;
  color:#fbf9f9;
}
td{
  width:30%;
  color:#7c1313;
  background-color:#f7b8ff;
}
#page{  
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "h h h"
    "n m m"
    "n m m"
    "f f f"
}